<fieldset class="module aligned first">
{% for field in form %}
	<div id="div-{{ field.id_for_label }}" class="control-group form-row {% if field.errors %}error{% endif %} field-survey_data ">
		<div>
			<div class="control-label">
				<label {% if field.field.required %}class="required"{% endif %} for="{{ field.id_for_label }}" >{{  field.label }}</label>
			</div>
			<div class="controls">
				{{ field }}
				{% if field.errors %}
            		<span class="help-inline">{{ field.errors }}</span>
        		{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
</fieldset>