<div id="module-{{ formset.prefix }}" class="table-fieldset">
<div class="table-section">
	{{ formset.help_text }}
</div>
<fieldset class="module">
	{{ formset.management_form }}
	<table id="table-{{ formset.prefix }}" class="table table-condensed table-striped">
	{% for form in formset.forms %}
	{% if forloop.first %}
		<thead>
			<tr>
			{% for field in form.visible_fields %}
				<th {% if field.field.required %}class="required"{% endif %} >{{ field.label|capfirst }}</th>
			{% endfor %}
			</tr>
		</thead>
	{% endif %}
	{% endfor %}
		<tbody>
		{% for form in formset.forms %}
			{% with form.visible_fields|last as last %}
			{% if not last.value %}
				<tr class="{% cycle row1,row2 %}">
				{% for field in form.visible_fields %}
					{% if forloop.first %}
			      		{% for hidden in form.hidden_fields %}
		      				{{ hidden }}
			      		{% endfor %}
			      	{% endif %}
				    <td>
				    	<div class="control-group {% if field.errors %}error{% endif %}">
				      	{{ field }}
				      	{% if field.errors %}<span class="help-inline">{{ field.errors }}{% endif %}</span>
				      	</div>
				    </td>
				{% endfor %}
				</tr>
			{% endif %}
			{% endwith %}
		{% endfor %}
			<tr class="add-row">
				<td colspan="{{ form.visible_fields|length }}">
					<a href="javascript:void(0)" id='add-another-{{ formset.prefix }}'>
						Add another
					</a>
				</td>
			</tr>
			<script type="text/javascript">
				jQuery('#add-another-{{ formset.prefix }}').click(function(){
					(function(formset_prefix){
						var prefix = formset_prefix;
						var ROW = [1, 2];
						var count = jQuery('#table-'+ prefix +' tbody tr[class^="row"]').length;
						var clean_row = createRow();
						

						function createRow(){
							var row = jQuery('#table-'+ prefix +' tbody tr[class^="row"]:last').clone();
							row.attr('class', 'row' + ROW[count % 2]);

							jQuery('.control-group input, select', row).each(function(){

								var name = $(this).attr('name');
								var id = $(this).attr('id');
								var prev = ''+(count-1);
								$(this).attr('name', name.replace(prev, ''+count));
								$(this).attr('id', id.replace(prev, ''+count));
								$(this).val('');
							});
							return row;
						}

						return function(){
							jQuery('#table-'+ prefix +' .add-row').before(clean_row);
							count++;
							clean_row = createRow();
							jQuery('input#id_'+ prefix +'-TOTAL_FORMS').val(count);
						}
					})('{{ formset.prefix }}')();
				});
			</script>
		</tbody>
	</table>
</fieldset>
</div>