{% extends "admin/base.html" %}
{% load admin_static %}

{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}
<link rel="shortcut icon" href="{{ STATIC_URL }}app/images/favicon.ico" type="image/x-icon">
{% endblock %}


{# Additional CSS includes #}
{% block extrastyle %}
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{% endblock %}


{# Footer links (left side) #}
{% block footer_links %}
<a href="/docs/" class="icon"><i class="icon-question-sign"></i>Documentation</a>
{% endblock %}

{# Additional header content like notifications or language switcher #}
{% block header_content %}
    {{ block.super }}
{% endblock %}s

{# Footer branding name (center) #}
{#{% block footer_branding %}#}
{#{% endblock %}#}


{# Footer copyright (right side) #}
{% block copyright %}
 Copyright &copy; 2014 UPCM<br>Developed by <a href="https://plus.google.com/u/0/+RescianRey" target="_blank">RR & Co</a> 
{% endblock %}