h2.header-title {
	margin: 4px 15px 0 0px;
	text-shadow: 0px 0px;
	text-rendering: auto;
	color: #ececec;
}
div.menu-indent {
	width: 24px;
	display: inline-block;
}

div.controls ul {
	margin: 0 0;
	display: inline-block;
}

div.controls > ul > li {
	/*margin-right: 30px;*/
	min-width: 200px;
	display: inline-block;
}

div.controls li input {
	margin-top: 0px;
}

div.controls li:last-child {
	margin-right: 10px;
}

div.controls li input[type="radio"]{
	margin: 0px;
}

input.address-fields {
	width: 350px;
}

input.number-fields {
	width: 50px;
}

fieldset.module table {
	margin: 0px;
}

button.add-another {
	float: right;
}

fieldset.module p.formset-desc {
	font-size: 13px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) { 
	h2.header-title {
		font-size: 12px;
	}

	input.address-fields {
		width: 300px;
	}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { 
	h2.header-title {
		font-size: 12px;
	}

	input.address-fields {
		width: 300px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	h2.header-title {
		font-size: 12px;
	}

	input.address-fields {
		width: 300px;
	}
}

.save-message div {
	text-align: center;
}

input[type='text'].short, select.short {
	width: 100px;
}

.form-horizontal .control-group .control-label {
	min-width: 250px;
}

div.section {
	padding: 8px;
	background: #fff;
	border: solid 1px #d8d8d8;
	border-radius: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 13px;
}

div.table-section {
	padding: 5px 8px;
	background: #fff;
	border: solid 1px #d8d8d8;
	border-radius: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 13px;
}

.form-horizontal fieldset {
	margin-top: 0px;
	margin-bottom: 15px;
}

div.table-fieldset {
	margin-bottom: 12px;
}

.alert {
	margin-bottom: 12px;
}

fieldset.address {
	width: 200px;
	position: absolute;
	left: 5px;
	top: -17px;
}

fieldset.address .control-group .control-label {
	min-width: 80px;
}

div.done-button {
	background-color: #ffffff;
	padding: 10px;
	text-align: right;
}

button.addr-done-btn {
	position: absolute;
	top: 5px;
	left: 165px;
}