body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

input {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

input::first {
  margin-top: 0px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#forgot-passcode-container {
  margin-top: 5px;
  text-align: right;
}

.left {
  width: 40%;
  display: inline-block;
}

.right {
  width: 60%;
  float: right;
  padding: 0 2%;
  text-align: justify;
}

.logos {
  text-align: center;
  margin-bottom: 10px;
}

.logos img {
  margin-right: 10px;
  width: 150px;
  height: 150px;
}

.squeeze {
  width: 60%;
  margin: 0 auto;
}