{% extends "admin/base.html" %}
{% load admin_static %}
{% load suit_tags %}
{% load url from future %}
{% load i18n %}
{% load app_tags %}
{% block title %}UPCM Survey{% endblock %}
{# Additional <head> content here, some extra meta tags or favicon #}
{% block extrahead %}
<link rel="shortcut icon" href="{{ STATIC_URL }}app/images/favicon.ico" type="image/x-icon">
{% endblock %}


{# Additional CSS includes #}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}app/css/app.css"/>
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{% endblock %}


{# Footer links (left side) #}
{% block footer_links %}
{% endblock %}

{% block header %}
	{% if not is_popup %}
	  <!-- Header -->
	  <div id="header" class="header">
	    <div id="branding">
	      <a href="{% url 'personal' %}"><h1 id="site-name">{% block branding %}{{ 'SITE_NAME'|app_config }}{% endblock %}</h1></a>
	    </div>

	    {% block header_content %}
	      <div class="header-content">
	         <h2 class="header-title">Factors Associated with Rural Practice Among University of the Philippines College of Medicine Graduates</h2>
	      </div>
	    {% endblock %}

      	<div id="user-tools">
        	<span class="user-links">
          		<span class="separator">|</span>
          		<a href="{% url 'auth_logout' %}">{% trans 'Log out' %}</a>
        	</span>
	  	</div>
	  </div>
	{% endif %}
<!-- END Header -->
{% endblock %}

{% block breadcrumbs %}
<div class="section">
	<h2>{{ section_name }}</h2>
</div>
{% endblock %}	

{% block content-left %}
  {% if not is_popup %}
    <div id="suit-left" class="suit-column">
      {% include 'app/menu.html' %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
	<div id="content-main" class="inner-two-columns">
		<form method="POST" action="." class="form-horizontal">
			{% csrf_token %}
			{% block button-box %}
			<div class="inner-right-column">
				<div class="box save-box">
					<button type="submit" class="btn btn-high btn-info" name="_save">Save</button>
				</div>
			</div>
			{% endblock %}

			<div class="inner-center-column">
				<div class="tab-content tab-content-main">
					{% block instructions %}
					<div class="alert alert-info">
							<strong>General Instruction:</strong> Answer the following questions, then hit 'Save' to save your answers.
					</div>
					{% endblock %}
					{% if success %}
					<div class="alert alert-success save-message">
							<div>Save successful.</div>
					</div>
					{% endif %}
					{% block main_form %}
					{% endblock %}
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{# Footer branding name (center) #}
{% block footer_branding %}
{{ 'SITE_NAME'|app_config }}
{% endblock %}


{# Footer copyright (right side) #}
{% block copyright %}
 Copyright &copy; 2014 UPCM<br>Developed by <a href="https://plus.google.com/u/0/+RescianRey" target="_blank">RR & Co</a> 
{% endblock %}