{% extends "app/base.html" %}
{% load i18n admin_static admin_modify %}

{# Additional CSS includes #}
{% block extrastyle %}
{{ block.super }}

{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{{ block.super }}


{% endblock %}


{% block main_form %}
	{% if errors %}
	<div class="alert alert-error">
			{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
			{{ form.form.non_field_errors }}
	</div>
	{% endif %}

    {% with formsets.guardians as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}

    <fieldset class="module aligned first">
        <div id="div-{{ form.number_of_brothers.id_for_label }}" class="control-group form-row {% if form.number_of_brothers.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.number_of_brothers.field.required %}class="required"{% endif %} for="{{ form.number_of_brothers.id_for_label }}" >{{  form.number_of_brothers.label }}</label>
                </div>
                <div class="controls">
                    {{ form.number_of_brothers }}
                    {% if form.number_of_brothers.errors %}
                        <span class="help-inline">{{ form.number_of_brothers.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="div-{{ form.number_of_sisters.id_for_label }}" class="control-group form-row {% if form.number_of_sisters.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.number_of_sisters.field.required %}class="required"{% endif %} for="{{ form.number_of_sisters.id_for_label }}" >{{  form.number_of_sisters.label }}</label>
                </div>
                <div class="controls">
                    {{ form.number_of_sisters }}
                    {% if form.number_of_sisters.errors %}
                        <span class="help-inline">{{ form.number_of_sisters.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="div-{{ form.birth_order.id_for_label }}" class="control-group form-row {% if form.birth_order.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.birth_order.field.required %}class="required"{% endif %} for="{{ form.birth_order.id_for_label }}" >{{  form.birth_order.label }}</label>
                </div>
                <div class="controls">
                    {{ form.birth_order }}
                    {% if form.birth_order.errors %}
                        <span class="help-inline">{{ form.birth_order.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    {% with formsets.siblings as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}

    <fieldset class="module aligned first">
        <div id="div-{{ form.have_second_degree_relatives_outside_PH.id_for_label }}" class="control-group form-row {% if form.have_second_degree_relatives_outside_PH.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.have_second_degree_relatives_outside_PH.field.required %}class="required"{% endif %} for="{{ form.have_second_degree_relatives_outside_PH.id_for_label }}" >{{  form.have_second_degree_relatives_outside_PH.label }}</label>
                </div>
                <div class="controls">
                    {{ form.have_second_degree_relatives_outside_PH }}
                    {% if form.have_second_degree_relatives_outside_PH.errors %}
                        <span class="help-inline">{{ form.have_second_degree_relatives_outside_PH.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="div-{{ form.number_of_second_degree_relatives_outside_PH.id_for_label }}" class="control-group form-row {% if form.number_of_second_degree_relatives_outside_PH.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.number_of_second_degree_relatives_outside_PH.field.required %}class="required"{% endif %} for="{{ form.number_of_second_degree_relatives_outside_PH.id_for_label }}" >{{  form.number_of_second_degree_relatives_outside_PH.label }}</label>
                </div>
                <div class="controls">
                    {{ form.number_of_second_degree_relatives_outside_PH }}
                    {% if form.number_of_second_degree_relatives_outside_PH.errors %}
                        <span class="help-inline">{{ form.number_of_second_degree_relatives_outside_PH.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="div-{{ form.relatives_residence_address.id_for_label }}" class="control-group form-row {% if form.relatives_residence_address.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.relatives_residence_address.field.required %}class="required"{% endif %} for="{{ form.relatives_residence_address.id_for_label }}" >{{  form.relatives_residence_address.label }}</label>
                </div>
                <div class="controls">
                    {{ form.relatives_residence_address }}
                    {% if form.relatives_residence_address.errors %}
                        <span class="help-inline">{{ form.relatives_residence_address.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    {% with formsets.relatives_outside_ph as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}

    <fieldset class="module aligned first">
        <div id="div-{{ form.have_health_profession_relatives.id_for_label }}" class="control-group form-row {% if form.have_health_profession_relatives.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.have_health_profession_relatives.field.required %}class="required"{% endif %} for="{{ form.have_health_profession_relatives.id_for_label }}" >{{  form.have_health_profession_relatives.label }}</label>
                </div>
                <div class="controls">
                    {{ form.have_health_profession_relatives }}
                    {% if form.have_health_profession_relatives.errors %}
                        <span class="help-inline">{{ form.have_health_profession_relatives.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    {% with formsets.relatives_in_health_profession as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}

    <fieldset class="module aligned first">
        <div id="div-{{ form.have_relatives_with_stocks_in_PH.id_for_label }}" class="control-group form-row {% if form.have_relatives_with_stocks_in_PH.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.have_relatives_with_stocks_in_PH.field.required %}class="required"{% endif %} for="{{ form.have_relatives_with_stocks_in_PH.id_for_label }}" >{{  form.have_relatives_with_stocks_in_PH.label }}</label>
                </div>
                <div class="controls">
                    {{ form.have_relatives_with_stocks_in_PH }}
                    {% if form.have_relatives_with_stocks_in_PH.errors %}
                        <span class="help-inline">{{ form.have_relatives_with_stocks_in_PH.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="module aligned first">
        <div id="div-{{ form.have_relatives_with_stocks_outside_PH.id_for_label }}" class="control-group form-row {% if form.have_relatives_with_stocks_outside_PH.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.have_relatives_with_stocks_outside_PH.field.required %}class="required"{% endif %} for="{{ form.have_relatives_with_stocks_outside_PH.id_for_label }}" >{{  form.have_relatives_with_stocks_outside_PH.label }}</label>
                </div>
                <div class="controls">
                    {{ form.have_relatives_with_stocks_outside_PH }}
                    {% if form.have_relatives_with_stocks_outside_PH.errors %}
                        <span class="help-inline">{{ form.have_relatives_with_stocks_outside_PH.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    {% with formsets.relatives_with_stocks as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}

    <fieldset class="module aligned first">
        <div id="div-{{ form.have_relatives_with_business.id_for_label }}" class="control-group form-row {% if form.have_relatives_with_business.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.have_relatives_with_business.field.required %}class="required"{% endif %} for="{{ form.have_relatives_with_business.id_for_label }}" >{{  form.have_relatives_with_business.label }}</label>
                </div>
                <div class="controls">
                    {{ form.have_relatives_with_business }}
                    {% if form.have_relatives_with_business.errors %}
                        <span class="help-inline">{{ form.have_relatives_with_business.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    {% with formsets.relatives_with_business as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}

    <fieldset class="module aligned first">
        <div id="div-{{ form.have_relatives_in_politics.id_for_label }}" class="control-group form-row {% if form.have_relatives_in_politics.errors %}error{% endif %} field-survey_data ">
            <div>
                <div class="control-label">
                    <label {% if form.have_relatives_in_politics.field.required %}class="required"{% endif %} for="{{ form.have_relatives_in_politics.id_for_label }}" >{{  form.have_relatives_in_politics.label }}</label>
                </div>
                <div class="controls">
                    {{ form.have_relatives_in_politics }}
                    {% if form.have_relatives_in_politics.errors %}
                        <span class="help-inline">{{ form.have_relatives_in_politics.errors }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>

    {% with formsets.relatives_in_politics as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}

    <script type="text/javascript" src="{% static "app/js/address_popup.js" %}"></script>
	<script type="text/javascript" src="{% static 'app/js/family.js' %}"></script>
	
{% endblock %}

