<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UPCM | Login</title>
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">

        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'app/css/common.css' %}" rel="stylesheet">
        <link href="{% static 'app/css/login.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <div class="container">
            <!-- RIGHT -->
            <div class="right">
                <h3>Factors Associated with Rural Practice among University of the Philippines College of Medicine Graduates</h3>
            </div>
            <!-- END of RIGHT -->
            <!-- LEFT -->
            <div class="left">
                <div class="logos">
                    <img src="{% static 'app/images/up_manila_logo.png' %}">
                    <img src="{% static 'app/images/upcm_logo.png' %}">
                </div>
            </div>
            <!-- END of LEFT -->
            <!-- Login FORM -->
            <form class="form-signin" role="form" action="." method="POST">
                {% csrf_token %}
                <h2 class="form-signin-heading">Enter passcode</h2>
                {{ form.passcode }}
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <div id="forgot-passcode-container">
                    <a href="{% url 'lost-passcode' %}">Resend passcode</a>
                </div>
                <br  />
                {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for err in field.errors %}
                            {{ err }}
                        {% endfor %}
                    {% endfor %}
                    {% for err in form.non_field_errors %}
                        {{ err }}
                    {% endfor %}
                </div>
                {% endif %}
            </form>
            <!-- END of Login form -->

            <div class="alert alert-danger squeeze">
                    <p>Please enter the passcode that you have received from your email and your mobile phone.</p>
                    <br  />
                    <p>This is your <strong>anonymized code</strong>. Once you have completed the online survey, this will not be linked to any information that you have submitted.</p>
            </div>
        </div>
    </body>
</html>
