<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UPCM | Resend Passcode</title>
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">

        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'app/css/common.css' %}" rel="stylesheet">
        <link href="{% static 'app/css/login.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <div class="container">
            <form class="form-signin" role="form" action="." method="POST">
                {% csrf_token %}
                <h2 class="form-signin-heading">Identify yourself...</h2>
                {{ form.email }}
                {{ form.mobile }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Resend passcode</button>
                <br />
                {% if form.errors %}
                <div class="alert alert-danger">
                    {% autoescape off %}
                        {% for field in form %}
                            {% for err in field.errors %}
                                {{ err }}
                            {% endfor %}
                        {% endfor %}
                        {% for err in form.non_field_errors %}
                            {{ err }}
                        {% endfor %}
                    {% endautoescape %}
                </div>
                {% endif %}
            </form>
        </div>
    </body>
</html>
