{#{% load sitetree %}#}
{% load i18n suit_menu %}
{% load url from future %}

<div class="left-nav" id="left-nav">
  <ul>
    <li {% if category == 'current' %}class="active"{% endif %}>
      <a href="{% url 'personal' %}"><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>Current Information</a>
        <ul>
            <li {% if subcategory == 'personal' %}class=active{% endif %}>
              <a href="{% url 'personal' %}">Personal Information</a>
            </li>
            <li {% if subcategory == 'occupation' %}class=active{% endif %}>
              <a href="{% url 'occupation' %}">Medical Training, Practice or Other Occupation</a>
            </li>
            <li {% if subcategory == 'perceptions' %}class=active{% endif %}>
              <a href="{% url 'perceptions' %}">Perceptions on Influences on Current Medical Practice</a>
            </li>
        </ul>
    </li>
    <li {% if category == 'background' %}class="active"{% endif %}>
      <a href="{% url 'education' %}"><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>Background Information</a>
      <ul>
          <li {% if subcategory == 'education' %}class=active{% endif %}>
            <a href="{% url 'education' %}">Personal and Educational Background</a>
          </li>
          <li {% if subcategory == 'plans' %}class=active{% endif %}>
            <a href="{% url 'plans' %}">Plans for Medical Practice</a>
          </li>
          <li {% if subcategory == 'region-origin' %}class=active{% endif %}>
            <a href="{% url 'region-origin' %}">Region of Origin</a>
          </li>
      </ul>
    </li>
    <li {% if category == 'family' %}class="active"{% endif %}>
      <a href="{% url 'family' %}"><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>Family Information</a>
    </li>
    <li  {% if category == 'socio-economic' %}class="active"{% endif %}>
      <a href="{% url 'socio-economic' %}"><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>Socio Economic Status</a>
    </li>
    <li {% if category == 'rural-life' %}class="active"{% endif %}>
      <a href="{% url 'rural-life' %}"><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>Rural Life and Practice</a>
    </li>
    <li {% if category == 'post-graduate' %}class="active"{% endif %}>
      <a href="{% url 'post-graduate' %}"><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>Rural Exposure</a>
    </li>
    <li {% if category == 'submission' %}class="active"{% endif %}>
      <a href="{% url 'submission' %}"><i class="icon-check"></i>Submission</a>
    </li>
    
  </ul>
</div>
