{% extends "app/base.html" %}
{% load i18n admin_static admin_modify %}
{% load staticfiles %}

{# Additional CSS includes #}
{% block extrastyle %}
{{ block.super }}

{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{{ block.super }}


{% endblock %}


{% block main_form %}
    {% if errors %}
    <div class="alert alert-error">
            {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
            {{ form.form.non_field_errors }}
            {{ formsets.children.non_form_errors }}
    </div>
    {% endif %}

    {% include 'app/include/fieldset.html' %}

    {% with formsets.children as formset %}
        {% include 'app/include/table.html' %}
    {% endwith %}
    <script type="text/javascript" src="{% static "app/js/address_popup.js" %}"></script>
    <script type="text/javascript" src="{% static "app/js/personal.js" %}"></script>
{% endblock %}

