{% extends "app/base.html" %}
{% load i18n admin_static admin_modify %}

{# Additional CSS includes #}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'app/js/jsi18n.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{{ block.super }}
{% endblock %}

{% block main_form %}
	{% if errors %}
    {{ form.media }}
	<div class="alert alert-error">
			{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
			{{ form.form.non_field_errors }}
	</div>
	{% endif %}

	{% include 'app/include/fieldset.html' %}
    <script type="text/javascript" src="{% static 'app/js/limit_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plans.js' %}"></script>
{% endblock %}

