{% extends "app/base.html" %}
{% load i18n admin_static admin_modify %}

{# Additional CSS includes #}
{% block extrastyle %}
{{ block.super }}

{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{{ block.super }}


{% endblock %}


{% block main_form %}
	{% if errors %}
	<div class="alert alert-error">
			{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
			{{ form.form.non_field_errors }}
	</div>
	{% endif %}

	{% include 'app/include/fieldset.html' %}

    <script type="text/javascript" src="{% static "app/js/address_popup.js" %}"></script>
    <script type="text/javascript" src="{% static "app/js/region_origin.js" %}"></script>
{% endblock %}

