{% extends "app/base.html" %}
{% load i18n admin_static admin_modify %}

{# Additional CSS includes #}
{% block extrastyle %}
{{ block.super }}
<style>
	#id_compassion_rating li {
		min-width: 40px;
	}

	#id_interest_in_rural_life li {
		min-width: 100px;
	}

	#id_interest_in_rural_medical_practice li {
		min-width: 100px;
	}
</style>
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{{ block.super }}


{% endblock %}


{% block main_form %}
	{% if errors %}
	<div class="alert alert-error">
			{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
			{{ form.form.non_field_errors }}
			{{ formsets.trainings.non_field_errors }}
			{{ formsets.occupations.form.non_field_errors }}
	</div>
	{% endif %}

	{% include 'app/include/fieldset.html' %}
    <script type="text/javascript" src="{% static 'app/js/limit_checkbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/js/rural_life.js' %}"></script>
{% endblock %}
