<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UPCM | Sign Up</title>
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" type="image/x-icon">
        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'app/css/common.css' %}" rel="stylesheet">
        <link href="{% static 'app/css/signup.css' %}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{% static 'suit/js/jquery-1.8.3.min.js' %}"></script>
    </head>
    
    <body>
        <div class="container">
            <!-- LEFT -->
            <div class="left">
                <div class="logos">
                    <img src="{% static 'app/images/up_manila_logo.png' %}">
                    <img src="{% static 'app/images/upcm_logo.png' %}">
                </div>
                <form class="form-signin" role="form" action="." method='POST'>
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Please sign up</h2>
                    {{ form.email }}
                    {{ form.mobile }}
                    <div class="checkbox">
                        <label>
                            {{ form.graduate_of_upcm }} Are you a graduate of UPCM 1990-2010?
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.spent_years_as_physician }} Did you spend at least 3 years working as a physician?
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" disabled="">Sign up</button>
                    <br  />
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for err in field.errors %}
                                {{ err }}
                            {% endfor %}
                        {% endfor %}
                        {% for err in form.non_field_errors %}
                            {{ err }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </form>
            </div>
            <!-- END of LEFT -->

            <!-- RIGHT -->
            <div class="right">
                <h3>Factors Associated with Rural Practice among University of the Philippines College of Medicine Graduates</h3>
                <br/>
                <p>Good day!</p>
                <p>As a UPCM graduate, you are invited to participate in the study entitled,  “Factors Associated with Rural Practice among University of the Philippines College of Medicine Graduates”. </p>


                <p>The objective of the study is to address the perennial shortage of doctors in the rural areas of the Philippines. It is critical to determine the different factors which are associated with the medical students’ eventual choice to practice location. This study seeks to explore the factors, which are associated with the decision of UPCM graduates to practice in their regions. The results of the study will be useful in revising the admission policies and program planning of the UPCM and the Regionalization Program.</p>


                <p>If you accept, you will be asked to anonymously fill out an online survey which is composed of forced answer, multiple choice and open-ended questions. If you do not wish to answer any of the questions included in the survey, you may skip them and move on to the next question. However, the completeness and accuracy of the results is highly appreciated.</p>

                <p>Information gathered in this study will be held in strict confidence, and no identifying information will be stored in the data base. Your email address and mobile number will be asked from you in order to generate a code that you will use to log in to the online tool. Once you have completed the survey, these information will not be linked to your answers. This is done to ensure the security and confidentiality of data and because of the sensitivity of some parts of the tool including questions that are financial in nature.</p>


                <p>If you have agreed to particiapte and have not yet submitted, you will receive a follow-up thru e-mail and SMS on a weekly basis until we have collected your accomplished questionnaire or until you have expressed your desire to not participate in the study. Raw information will not be shared with or given to anyone except members of the research team, the UP Manila Research Ethics Board and UP College of Medicine.</p>
                
                <p>If you have any questions, you may contact any of the following Geeann B. Ignacio, RN or Angel C. Ngayan, RN (02) 5247119 or (02) 3532142, +639274916978.</p>
            </div>
            <!-- END of RIGHT -->
        </div>
    </body>

    <script type="text/javascript">
        function termsCheck(){
            if(jQuery('#id_graduate_of_upcm:checked').length > 0 && jQuery('#id_spent_years_as_physician:checked').length > 0){
                jQuery('button').removeAttr('disabled');
            }else{
                jQuery('button').attr('disabled', '');
            }
        }

        termsCheck();

        jQuery('#id_graduate_of_upcm').change(function(){
            termsCheck();
        });

        jQuery('#id_spent_years_as_physician').change(function(){
            termsCheck();
        });


    </script>
</html>
