{% extends "app/base.html" %}
{% load i18n admin_static admin_modify %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'app/js/jsi18n.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
{% endblock %}

{# Additional CSS includes #}
{% block extrastyle %}
<style>
	#id_leisure_activities_from {
		height: 100%;
	}
	#id_leisure_activities_to {
		height: 100%;
	}
</style>
{{ block.super }}
<style>
	ul#id_leisure_activities li {
		min-width: 300px;
	}
</style>
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{{ block.super }}


{% endblock %}


{% block main_form %}
	{% if errors %}
	<div class="alert alert-error">
			{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
			{{ form.form.non_field_errors }}
			{{ formsets.trainings.non_field_errors }}
			{{ formsets.occupations.form.non_field_errors }}
	</div>
	{% endif %}

	{% include 'app/include/fieldset.html' %}
    <script type="text/javascript" src="{% static 'app/js/limit_multiselect.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/js/socio_economic.js' %}"></script>
{% endblock %}
