{% extends "app/base.html" %}
{% load i18n admin_static admin_modify %}

{# Additional CSS includes #}
{% block extrastyle %}
{{ block.super }}

{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
{{ block.super }}


{% endblock %}

{% block button-box %}{% endblock %}
{% block instructions %}{% endblock %}
{% block main_form %}
	<div class="alert alert-error">
		You will not be able to go back to the survey form once you hit the Submit button. Please review all the information that you entered before submitting. 
	</div>

	{% include 'app/include/fieldset.html' %}
	<div class="save-box">
		<button id="submit_button" type="submit" class="btn btn-high btn-success" name="_save">Submit</button>
	</div>
	<script type="text/javascript">
		jQuery('#submit_button').click(function(){
			return window.confirm("Are you sure that you want to submit the survey?");
		});
	</script>
{% endblock %}
